/* Global Sytles */

body {
background-color: darkolivegreen;
}

img {
    max-width: 100%;
}

header {
    background-image: url('../images/trail.jpg');
    background-size: cover;
    background-position: center;
}

a {
    color: darkgrey ;
}

a:hover {
    color: darkslategray;
    text-decoration: none;
}

/* Mobile Styles */

header {
    background-color: darkolivegreen;
    padding: 30px 0;
    text-align: center;
}
nav {
    background-color: olivedrab;
    text-align: center;
}

nav ul {
padding: 0;
list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
display: block;
padding: 5px 0;
border-top: darkseagreen;
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
}

nav ul a:hover {
    background-color: darkolivegreen;
}

main {
    background-color: darkolivegreen;
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: darkolivegreen;
    text-align: center;
    padding: 20px 0;
    margin: 10px;
    text-shadow: 2px 2px 1px darkseagreen;
}