/* Global Sytles */

header {
    background-image: url(../images/background.jpg);
    background-position: center;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: darkgrey;
    text-align: center;
    
} 

main {
    background-color: #4b83a6;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #424d8c;
    text-align: center center;
    }
    
    img {
        max-width: 100%;
    }
    
    a {
        color: #402E59;
    }
    
    a:hover {
        color: #402E59;
        text-decoration: none;
    }

    table {
        border: 3px solid #a61b26;
        width: 100%;
    }

    tr, td, th {
        border: 1px solid #262626;
        padding: 10px;
        text-align: center;
        font-size: 1em;
    }

    video, audio {
        display: block;
        margin: 20px auto;
        width: 75%;
    }

    audio {
        padding: 20px 0;
    }

    
    /* Mobile Styles */
    
    header {
        background-color: #262626;
        background-size: cover;
        background-position: center;
        padding: 10px 0;
        text-align: center;
    }
    nav {
        background-color: #402E59;
        text-align: center;
    }
    
    nav ul {
        padding: 0;
        list-style-type: none;
    }
    
    nav li {
        display: block;
    }
    
    nav li a {
        display: block;
        padding: 2px 0;
        border-top: 1px #402E59;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
    }
    
    nav ul a:hover {
        background-color: #262626;
    }
    
    main {
        background-color: #262626;
        text-align: center;
        padding: 20px;
        margin: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    footer {
        background-color: #262626;
        text-align: center;
        padding: 20px 0;
        margin: 10px;
        text-shadow: 2px 2px 1px #402E59;
    }

    .desktop {
        display: none;
    }
    
    /* Tablet Styles */
    @media only screen and (min-width: 768px) {
        header {
            background-image: url('../images/background.jpg');
            background-size: cover;
            background-position: center center;
            padding: 60px 0;
        }
    
        header h1 {
            color: #735b14;
            text-shadow: 2px 2px 2px #262626;
            font-size: 3em;
        }
         
    
        nav li {
            display: inline-block;
        }
    
        nav li a {
            padding: 10px 40px;
        }
    
        main {
            display: flex;
        }

        article {
            background-color: #4b83a6;
            padding: 2%;
        }

        article img {
            display: inline-block;
            margin: 20px auto;
            width: 100%;
            border-radius: 20px;
        }
            
        section {
            border: 4px solid #262626;
            padding: 15px;
            margin: 10px;
            width: 75%
        }
    
        footer {
            background-color: black;
            text-align: center;
            color: white;
            padding: 20px 0;
        }



        div.bx-wrapper {
            display: none;
        }

        .button {
            padding: 10px 10px;
            background-color: white;
            text-align: center;
            color: #262626;
            font-size: 80%;
            text-decoration: none; 
        }
    }
    
    /* Desktop Styles */
    
    @media only screen and (min-width: 481px) {
        nav {
            text-align: center;
        }

        nav li {
            display: inline-block;
            width: 19%;
        }   

        nav li a {
            background-color: #402E59;
            color: #4b83a6;
        }

        #menu { 
            display: block;
        }

        .slicknav_menu {
            display: none;
        }

        div.bx-wrapper {
            display: block;
        }
    }


    @media only screen and (min-width: 791px) {
        article img {
            display: block;
            margin: 20px;
            width: 65%;
        }

        .projects {
            display: flex;
        }

        .projects img {
            margin: 1%;
        }
    }
    
    
    