body {
    background-color: blueviolet;
    background-image: url('../images/hogwartsexpress.jpg');
    background-size: cover;
    background-position: center;
}

img {
    max-width: 100;
}

header {
    background-color:black;
}

header img {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 40px;
}

h1 , h2{
    text-align: center;
}

#container {
    background: #fff;
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

nav {
    background-color: white;
    padding: 20px;
    text-align:center;
}

nav a {
    background-color: white;
    padding:20px 50px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
}
nav a:hover {
    background-color: blue;
    color: whites;
}

main {
    padding: 20px;
}

main img {
    display: block;
    width: 60%;
    margin: 20px auto;
}

footer {
    background-color: #000;
    text-align: center;
    color: white;
    padding: 40px 0;
}

.mando {
width: 25%;
}

.active {
background-color: black ;
color: white;
}